body{
  text-align: center;
}
h1{
  margin-bottom:3%;
}
ul{
  text-align: left;
}
a{
  color:#003638;
}

a:hover{
  color:#055052;
}

.lista-data{
  list-style-type: none;
  padding-left: 25%;
}

.presentacion{
  background-color: #003638;
  color: #F3F2C9;
  padding: 7% 15%;
  text-align: left;
}

.seccion-bca{
  background-color: #F3F2C9;
  color: #003638;
  padding: 4% 15%;
}

.seccion-color{
  background-color: #003638;
  color: #F3F2C9;
  padding: 4% 15%;
}

.foto-img{
  border: 10px solid #F3F2C9;
  border-radius: 100%;
  float: left;
  margin:-2% 5%;
  width: 25%
}
.card{
  margin:2%;
}
.card-header{
  background-color: #055052;
  color:#F3F2C9;
}

.barra{
  background-color: #055052;
  color:#F3F2C9;
  height: 3%;
}

.barra a{
  color:#F3F2C9;
  text-decoration: none;
}


.card-body{
  background-color: #F3F2C9;
  color:#055052;
}
.idioma{
  text-align: left;
  display:inline-block;
  width: 80%
}
.herramienta{
  text-align: left;
  display:inline-block;
  width: 70%
}
.nivel{
  display: inline-block;
  font-weight: bold;
}
.no-bullets{
  list-style-type: none;
  padding: 0;
  margin:0;
}

.img-proyecto{
  width: 100%;
  border:solid #055052 10px;
  margin:1%;
}

.img-proyecto:hover{
  border: none;
}
.item:hover{
  color: #F3F2C9;
  background-color: #055052;
}

.contact-icon{
  margin: 1%;
}

.icono-barra{
  text-align: right;
  color:#25d366;
  background-color: #055052;
}

@media (max-width:800px) {
  .foto-img {
    width:40%
  }
}
@media (max-width:1200px) {
  .foto-img {
    width:30%;
    margin:30px;
  }
}
